.imgz{
    width: 50%;
    height: 50%;
}
.mr{
    column-gap: 1px;
}
#Details{
    display: flex;
    text-align: start;
    text-align: end;
    text-align: left;
    text-align: right;
    text-align: center;
    text-align: justify;
}